#home {

    height: 100vh;
    background: linear-gradient(to right, rgb(50, 48, 168), rgb(50, 48, 168));

    .container{
        top: 30%;
        position: absolute;
        text-align: center;
        font-size: 20px;
        position: relative;
    }
}
#skills{
    margin-top: 70px;
}
